body{
    background-color:#2A334F;
    color:purple;
}
h1{
    font-size:40px;
    text-align:center;
}
p{
    font-size:20px;
    font-family:cursive;
    text-align:center;
    border:solid black 4px;
    padding:9px;
    border-radius:20px;
}
img{
    height:300px;
    border: solid purple 10px;
}
button{
    background-color:gray;
    color:black;
    font-size:20px;
    margin:20px;
    padding:5px;
    text-align:center;
    cursor: inherit
}
button:hover{
    background-color:red;
    color:black;
}

.fr{
    color:white;
    font-size:40px;
    text-align:center;
}
.hr{
    color:white;
    font-size:40px;
    text-align:center;
}
.gr{
    color:aqua;
    font-size:20px;
    text-align:center;
}
.th{
    border:purple solid;
    position:relative;
    margin:40px;
}

.re{
    background-color:#2A334F;
}
.se{
    font-size:40px;
    text-align:center;
}
.pe{
    font-size:20px;
    font-family:cursive;
    text-align:center;
    color:white;
}
.je{
    text-align:center;
    font-family:cursive;
    color:white;
    font-size:30px;
    list-style: none;
}
.le{
    height:400px;
    width:300px;
    border:solid green 3px;
}
.tree{
    height:300px;
    width:300px;}
    
body{
    background-color:#2A334F;
}
.fresh{
    color:white;
    font-size:30px;
    font-family:cursive;
}
.baby {
    border:solid purple 10px;
    height:400px;
    width:400px;
    position:relative;
    left:400px;
}
.do{
   font-size:30px;
   color:red;
   font-style:italic;
   font-weight:bold;
   text-align:center;
   list-style-type:none;
}
.crazy{
    color:red;
    font-size:30px;
    text-align:center;
}
.water{
    position:relative;
    left:200px;
}
.wave{
    position:relative;
    right:100px;
}
.wow{
    position:relative;
    bottom:400px;
}
.super{
    position:relative;
    right:160px;
    top:300px;
}
.ring{
    position:relative;
    left:670px;
    top:300px;
}
.mama{
    position:relative;
    right:200px;
    top:300px;
}
.ugly{
    position:relative;
    top:350px;
    right:-60px;
}
.pretty{
    position:relative;
    top:400px;
   left:100px;
}
.most{
    position:relative;
    right:200px;
}