body{
    background-color:#000033;
    color:#990099;
}
h1{
    font-size:40px;
    text-align:center;
}
p{
    font-size:20px;
    font-family:cursive;
    text-align:center;
    border:solid black 4px;
    padding:9px;
    border-radius:20px;
}
.dre{
    height:400px;
    border: solid purple 10px;
}

button{
    background-color:#2A334F;
    color:grey;
    font-size:20px;
    margin:20px;
    padding:5px;
    text-align:center;
    cursor: inherit
}
button:hover{
    background-color:red;
    color:black;
}

.fr{
    color:white;
    font-size:40px;
    text-align:center;
}
.hr{
    color:white;
    font-size:40px;
    text-align:center;
}
.gr{
    color:aqua;
    font-size:20px;
    text-align:center;
}
.th{
    border:green solid;
    position:relative;
    margin:50px;
    height:300px;
}

.re{
    background-color:#2A334F;
}
.se{
    font-size:40px;
    text-align:center;
}
.pe{
    font-size:20px;
    font-family:cursive;
    text-align:center;
    color:white;
}
.je{
    text-align:center;
    font-family:cursive;
    color:white;
    font-size:30px;
    list-style: none;
}
.le{
    height:500px;
    width:400px;
    border:solid green 3px;
}
.tree{
    height:400px;
    width:300px;}
    
    img{
        height:300px;
        border:dashed green 4px;
    }.fresh{
    color:white;
    font-size:30px;
    font-family:cursive;
}
.baby {
    border:solid purple 10px;
    height:400px;
    width:400px;
    position:relative;
    left:400px;
}
.do{
    font-size:20px;
    color:aqua;
    font-type:cursive;
    text-align:center;
}
.crazy{
    color:purple;
    font-size:30px;
    text-align:center;
}
.bake{
    font-size:70px;
    text-align:center;
    font-style:italic;
    font-weight:bold;
    color:037467;
}
